.navbar {
    /*background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);*/
    background-color: transparent;
    height: 90px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    
   
  }
  .logo{
   
   height: 1cm;
   width: 3cm;
  }
  .logo.off{
    display: none;

  }
  .navbar.active{
    background-color: black;
    height: 90px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    
  }
  
  .navbar-logo {
    width: 70%;
    color: #fff;
    justify-self: start;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-family: 'Pacifico','cursive';
  }
  .navbar-logo-green{
      color:green;
    font-family: 'Pacifico','cursive';

  }
  
  .fa-heartbeat {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    color: red;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: right;
    margin-right: 0.4rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242322;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 10px;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(13%, 35%);
    }
    .logo{
      
      height: 0.6cm;
      width: 2cm;
      transform: translate(95%,20%);
      filter: brightness(1.18);

    }
   
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
   
  
   
  }
  @media screen and (max-width: 400px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242322;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
   
  
    .navbar-logo {
      
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(4%, 30%);
      font-size:1.8rem;
    }
    .logo{
      
      height: 0.6cm;
      width: 2cm;
      transform: translate(75%,5%);
      filter: brightness(1.18);

    }
   
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
   
  
   
  }