.footer-container {
  margin-top: auto;
    background-color:tomato;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  
  .footer-1 {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .footer-link-wrapper {
    display: flex;
    
    
  }
  
  .footer-link-items {
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    min-width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
      
      margin-bottom: 16px;

  }
  .footer-link-items h3 {
    font-size: 20px;
  
}
  
  .footer-link-items > h2 {
    color: #fff;
  }
  

  
 
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .fa-heartbeat {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    color: red;
  }
  .line{
    border-left: 2px solid blanchedalmond;
    height: 250px;
    margin-left: 160px;
  }
  
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    
  
    
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
    .line{
      border-left: 2px solid blanchedalmond;
      height: 250px;
      margin-left: 90px;
    }
  }
 
  @media screen and (max-width: 768px) {
    .footer-1{
      overflow-x: hidden;
    }
    .line{
      display: none;
      
    }
    .social-logo {
      color: #fff;
      justify-self: start;
      margin-left: -14px;
      cursor: pointer;
      text-decoration: none;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
  }
@media screen and (max-width:450px){
  .footer-container {
       margin-top: auto;
       min-width: 100%;
      
       padding: 2rem 0 0rem 0;
       display: flex;
       flex-direction: row;
      
       height: 300px;
    }
    .footer-link-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: -10px;
      
      
      
    }
    .footer-link-items {
      color: blanchedalmond;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 6px;
      text-align: left;
      min-width: 80%;
      box-sizing: border-box;
    }
    
    .footer-link-items h2 {
        
        margin-bottom: 6px;
        font-size: 15px;
  
    }
    .footer-link-items h3 {
      font-size: 12px;
    
  }
    
    .footer-link-items > h2 {
      color: #fff;
    }
    
  
    
   
    
    .social-media {
      max-width: 800px;
      width: 80%;
      text-align: left;
      margin-left: -200px;
      margin-bottom: -135px;
      
    }
    
    .social-media-wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     
      width: 90%;
      max-width: 1000px;
      
    }
    
    
    
    .social-logo {
      color: #fff;
      
      cursor: pointer;
      text-decoration: none;
      font-size: 1.2rem;
      display: flex;
      align-items: flex-start;
      margin-bottom: 2px;
    }
    .fa-heartbeat {
      margin-left: 0.5rem;
      font-size: 1.4rem;
      color: red;
    }
   
    .footer-1 {
      width: 100%;
      max-width: 1000px;
      padding-top: -100px;
    }
   

}
  